In [1]:
'''
Author: Scott Field
Version: 1.00
Date: 4/11/2023
Program Name: Jupyter_Modules_And_Databases
Program Purpose: Show understanding of modules and SQL databases
'''

'\nAuthor: Scott Field\nVersion: 1.00\nDate: 4/11/2023\nProgram Name: Jupyter_Modules_And_Databases\nProgram Purpose: Show understanding of modules and SQL databases\n'

In [2]:
#Program 11.1
#Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. 
#Then, use the interactive interpreter to import the zoo module and call its hours() function.
from zoo import *
hours()

Open 9-5 daily

In [7]:
#Program 11.2
#In the interactive interpreter, import the zoo module as menagerie and call its hours() function.
import zoo as menagerie
hours()

Open 9-5 daily

In [41]:
#Next 3 cells are all for assignment 16.8
#Create Database According To 16.4 Directions
import sqlite3
database = sqlite3.connect("books.db")
cursor = database.cursor()
cursor.execute('''CREATE TABLE books (title VARCHAR(20), author VARCHAR(20), year INT)''')

In [42]:
#Read Database According To 16.5 Directions (read data fromm book2.csv and insert its data into the book table)
import csv
#read data into books list
with open("book2.csv","rt") as fin:
    cin = csv.reader(fin)
    #read each row in books if the row contains any data
    books = [row for row in cin if row]

#print(books) #this line is to check that the data has been read correctly

#write data from books list into database
for index in range(len(books)):
    #get csv data
    title = books[index][0]
    author = books[index][1]
    year = books[index][2]

    #write sql query so that ('title','author',year) is within the parentheses
    sql = "INSERT INTO books VALUES('" + title + "','" + author +"'," + year + ")"
    #execute sql query
    cursor.execute(sql)

    #commit changes
    database.commit()

In [59]:
#Program 16.8 (16.3,16.4,16.5,16.8)
#Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. 
#As in 16.6, select and print the title column from the book table in alphabetical order.

#sqlalchemy access and print titles in alphabetical order (This code is the problem)
import sqlalchemy as db
#get database from path string
engine = db.create_engine(r'sqlite:///C:\Users\field\Desktop\Desktop Documents\College (Ivy Tech)\A1 Current Classes\Python Software Development\M04\Jupyter_Modules_Databases\books.db')
#get metadata from database
meta = db.MetaData(bind = engine)
db.MetaData.reflect(meta)
#get table from database
booksTable = meta.tables['books']
#set SQL query to get titles from table
query = db.select([booksTable.c.title])
#set results
result = engine.execute(query).fetchall()

#output results print(result)

#organize result to be a list in alphabetical order

#store alphabetical list
alphaResult = list(result)
#sort list by alphabetical order
alphaResult.sort()

#print list items in vertical order
for index in range(len(alphaResult)):
    print(alphaResult[index][0])

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!